
body {
    font-family: 'Courier New', Courier, monospace
  }
  
  h1 {
    color:rgb(164, 162, 162) ;
    font-size: 4.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 8px dotted rgba(77, 73, 73, 0.477);
  }
  
  h2 {
    font-size: 1.5em;
    font-style: italic; 
    padding: 20px;
}
 h3{
  font-size: 1.5em;
  

 
 }
.myself {
  color: rgb(175, 173, 173);
  font-size: 2.5em;
  
}

#Awsome-J{
    padding: 5px;
    background-color: #040000;
    border: purple solid 5px;
}
  .page{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
  }


  .job-title {
    color: aqua;
    font-weight: bold;
  }
   
  a:link, a:visited {
    color: grey
  }
  
  a:hover {
    text-decoration: green way underline;
  }
  
  
